/*
Gradeomatic
Copyright Adam Swenson Merp Co Intl
 
*/
/* 
This contains the styling for commentassign.php

    Created on : Aug 7, 2014, 4:37:41 PM
    Author     : adam
*/

/*------------- Gross page body */
/* Accordion */
.accordion{
    /*margin-top: 1%;*/
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 2%;
    /*border: inset;*/
}
h3{
    /*This keeps the accordion tabs from separating*/
    margin-bottom: 0; 
}


input[readonly="readonly"] {
    border : 0;
}

/*------------- Main body table */
input[readonly="readonly"]{
    border: none;
}

input[type="textarea"]{
    width: 100%;
    font-size: 10px;
    height:100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}
table{ width : 100%; }
tr{ width:100%; }

/*//The cell holding the comment content*/
.contentCell1{
    width : 70%;
}
/* The cell holding the add*/
td.buttonCell0{
    width : 3%;
}

/*div#commentAssignment th.buttonCell1{
    display:
}*/

/*-------- For comment display table */
.coveredScore{
    background-color: greenyellow;
    color: greenyellow;
}
.notCovered{
    /*background-color: '';*/
}
.multiCovered{
    background-color: red;
    color: red;
    
}
#assignmentDisplayTable{
    font-size: 10px;
    border-collapse: collapse;
    /*width: 50%;*/
    height: 100px;
    width: 100px;
    cellpadding:0;
    cellspacing:0;
    display: table;
    padding:0;
    margin: 0;
    vertical-align: bottom;
}
#assignmentDisplayTable tr{
    padding: 0;
    margin: 0;
    
   
}
#assignmentDisplayTable td{
    border-collapse: collapse;
    /*height: 10px;*/
/*    border-bottom-width: 0;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-style: 0;*/
}

#dtable{
    /*width:200px;*/
    /*height:200px;*/
}

/*Question and comment display at top of page*/
/*Span covering Min and Max in the li (but not the actual number)*/
.assignmentRangeName{
    font-style: italic;
}
/*Span covering the value of the min score in the li*/
.minScoreDisplay{
}
/*Span covering the value of the max score in the li */
.maxScoreDisplay{}
/* Span covering the text of the comment summary in the li*/
.commentSummaryPlace{}
currExamQuestionList{
    display: block;
    clear:both;
    padding-left:2%;
    padding-right:2%;
}

#currExamQuestionList{
    display: block;
    clear:both;
}

.examQuestionBlock{
    width: 30%;
    display:block;
    float:left;
    padding: 3px;
}
.questionIdentifierLine{
    font-weight: bold;
}


/*------------- dynamically used styles*/
/*Used when a row has been selected for editing or assignment*/
.selectedRow{
    background-color : red;
    color:red;
    height:10em;
}
.editing{
    font-weight: bold;
    border-color: red;
    border-width: thick;
}