.startHidden{
	display: none;
}

#mainBody{
	width:70%;
}

/******************************EXAM INFO********************/
#examInfo{
    margin-top:1%;
    }
/**/
/*#examInfo .ui-slider-horizontal{*/
/*    width:10%;*/
/*    }*/
    
#examInfo p{
    margin-bottom:0;
    /*margin-top:;*/
    /*line-height:*/
    }

#commentGroupsHere{
	/*width: 70%;*/
}
#mainInnerArea{
	margin-left: 2%;
	margin-right: 15%;
}

#examInfo input{
    width:4em;
    }

#sid {
    margin-left:10%;
    margin-bottom:2em;
    line-height:1.5em;
    width:8em;
    }

#newRecord{
    width: 10em;
    text-align:center;
}

h3{
	/*width: 80%;*/
}


.succeeded{
	color: green;
	font-weight: bolder;
	font-size: 45;
}
.failed{
	color: red;
}