/*
Gradeomatic
Copyright Adam Swenson Merp Co Intl
 
*/
/* 
The styles for commentrelease.php

    Created on : Aug 13, 2014, 12:29:27 PM
    Author     : adam
*/

/*.mainPageSection{
    display: block;
    clear: both;
}*/

/* Accordion */
.accordion{
    /*margin-top: 1%;*/
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 2%;
    /*border: inset;*/
}
h3{
    /*This keeps the accordion tabs from separating*/
    margin-bottom: 0; 
}

.commandBox{width:45%;
            float: left;
            display:block;
            margin: 1%;}

#lockedReleasedTable{
    width:45%;
    float: left;
    display:block;
    margin:1%;
    border-style: solid;
}
/*#pseudoIDTable{
    margin: 3%;
    padding: 3%;
}
#pseudoIDTable td{margin-top: 3%;
padding-top: 10%;}*/

#messages{
    width:45%;
    float: right;
    display: block;
    margin:1%;
    border-style:solid;
    border-color: red;
}

.commandInstruction{
width:35%;    
}

.startHidden{
    display:none;
}