
.startHidden{
    display: none;
}

#newElement{
    margin-top: 5%;
    padding-top: 10px;
}

.eleng{
    width: 70%;
}

input[type="text"]{
	width: 30%;
}
/*input{
    width:auto;
    padding-top:2em;
    margin-left:2em;
}*/

/*.inputButtons>input{
    margin-top:1em;
}

*/