/*
Gradeomatic
Copyright Adam Swenson Merp Co Intl
 
*/
/* 
    Created on : Aug 8, 2014, 5:36:17 PM
    Author     : adam
*/

.startHidden{
    display:none;
}

.classChecks{
    width : 15%;
}

/* Main sections of the page */
.pageComponent{
    display : block;
    clear : both;
    margin-bottom : 1px;
    margin-top : 1px;
}

/* Exam display component at the top*/
.currentExamDisplay{
    display : block;
}
.currentExamDisplay input[type=text]{
    background: none;
    border: none;
    width: 3em;
    font-size:16px;
}
.currentExamDisplay label{
    font-size:16px;
}
.currentExamDisplay .leftside{
    display:block;
    float: left;
    padding-left: 10%;
}
.currentExamDisplay .rightside{
    display: block;
    float:right;
    padding-right: 10%;
}

.gradeSlider{
    /*width: 30%;*/
}
.sliderCell{
    width:60%;
}
.gradeTitle{
    text-align: center;
    font-weight: bolder;
    font-size: large;
}
.scoreCell{
    width:5em;
}
tr{
    margin-bottom:10em;
}
.leftCell{
    text-align: right;
    float:right;
}
.sliderArea{
    /*display:block;*/
    /*clear:both;*/
}
#gradeAssigner{
    width:80%;
}
div#buttonHolder{
    padding-left: 20%;
    padding-right:20%;
}
input#verify{
    float:left;
}
input#recordAssign{
    float:right;
}
