/*
VERSION 4.0

   @todo something to scale page for ipad

   @todo Float timer and dashboard to right. Maybe have scroll with page
*/
/**************GENERAL BODY ELEMENTS***********/
h1 {
    text-align:center;
    font-weight:bold;
    }

     
ul {
    list-style-type: none;
    }

input {
    width:4em;
    }

#studentInfo label{
    position:absolute;
    padding-left:2%;
    }
#sid {
    margin-left:10%;
    margin-bottom:2em;
    line-height:1.5em;
    width:8em;
    }


.startHidden{
    display:none;
    }


   
/***************************MAIN BODY FORMS********************/
li input {
    width:4em;
    border:none;
    font-weight:bold;
    color:red;
    font-size:larger;
}

li{
    margin-bottom:1em;
}

.slider{
    width:30%;
    }

#newRecord{
    width: 10em;
    text-align:center;
}

.footer{
	text-align: center;
	font-size: 8pt;
}

/***********************QUESTION SELECT**************/
#questionSelect{
    /*width:30%;*/
    padding-top:1em;
    margin-bottom:1em
    }
    
#questionSelect label{
    /*width:4em;*/
    /*margin-right:2em;*/
    font-size:larger;
    }

/******************************EXAM INFO********************/
#examInfo{
    margin-top:1%;
    }
    
#examInfo p{
    margin-bottom:0;
    /*margin-top:;*/
    /*line-height:*/
    }

#examInfo input{
    width:4em;
    }
    
/*Backup button*/
#backup{
  width: 8em;      
    }

/******************************************Dashboard *************************/
#dashboard{
    width:30%;
    float:right;
    right:2px;
    font-size:small;
    }
/*Dashboard components*/	
#currntGroupGaugeBox{
    width: 10em;
}
    
#currentTimeGaugeBox{
    width : 10em;
}

.sideDiv{
	clear: both;
}
.statsTable{
	text-align: center;
}


	
/*Dashboard dynamic display classes*/	
.go{
	width:20em;
	margin-right:5em;
	background-color:#00FF00;
	}
		
.pause{
	width:20em;
	margin-right:5em;
	background-color:#DC143C;
	}

/* Dashboard general styling */
.blank{
    background-color:inherit;
    width:20em;
    margin-right:5em;
}	

.nobord{
    border:none;
    width:3em;
    margin-left:1em;
    font-variant:small-caps;
    }

.sidehead{
    font-variant:small-caps;
    font-weight:600;
    text-align:center;
    }



