/*
Gradeomatic
Copyright Adam Swenson Merp Co Intl
 
*/
/* 
This is the stylesheet for the left nav items which display in 
pages which are available to everyone reqardless of login

    Created on : Mar 14, 2015, 12:34:43 PM
    Author     : adam
*/


.leftnav{
    float:left;
    width:12%;
    display:block;
}

.leftnav ul{
    list-style-type: none;
}

.leftnav li{
    padding-bottom: 3pt;
}
