/*
Gradeomatic
Copyright Adam Swenson Merp Co Intl
 
*/
/* 
    Created on : Aug 14, 2014, 5:32:31 PM
    Author     : adam
*/
#container{
   margin-left: 5%;
   margin-right: 5%;
}
                table{
                    /*column-width:auto;*/
                    border-style:solid;
                    border-width: thin;
                }/*
                td{border-style:solid;
                   border-width: thin;
                }*/
                
                .pageComponent{
                    padding-bottom: 1%;
                }
                
                .formArea{
                    margin-top: 1%;
                }

