/*
Gradeomatic
Copyright Adam Swenson Merp Co Intl
 
*/
/* 
    Created on : Aug 4, 2014, 5:52:15 PM
    Author     : adam
*/

@CHARSET "UTF-8";
*{
    /*font-family: serif;*/
    font-family: Verdana,Arial,sans-serif;
}
.startHidden{
    display:none;
    }

.accordion{
	margin-top: 1%;
}

select{
	/*width: 50%;*/
	height: auto;
}

table select{
	width:100%;
        text-transform:capitalize;
    }

table{
	width:50%;
	margin-top: 10px;
	}

td{
	width:30%;
	padding-bottom: 0px;
	padding-top:0px; 
	}
    
ul {
    list-style-type: none;
	outline: thin;
    }

h1{
	text-align: center;
	}

li{
	/*word-spacing: 5px;*/
}

option{
	/*font-variant: small-caps;*/
	/*word-spacing: 5px;*/
}

/*restrictors div*/
.rlist{
	/*width:13em;*/
	float: left;
	/*margin:45px;*/
	}
#restrictEnter{
	margin-top:10px;
	margin-left: 10px;
	margin-right: 10px;
	position: absolute top;
	}
#restrictors{
	/*margin-top: 10px;*/
	/*display: block;*/
}

.restrictorListItem{
    margin: 2px;
    padding: 2px;
}
#restrictEdit{margin-top: 2%;}

#newClass{
    display:none;
	}
	
#container{
	margin-left: 5%;
	margin-right: 5%;
	padding-right: 2%;
	border: inset;
	}


/*exam/class assignent*/
#examXclass select{
	width: 100%;
	}
.ce{
	float: left;
	margin: 10px;
	padding: 5px;
	}
#associateThem{
	position: absolute;
	margin-bottom: 10px;
	display: block;
}


.subtaskNumber{
    font-weight: bold;
}



body { font-size: 10px }

.stepy-header { list-style: none; padding: 0; width: 85% }
.stepy-header li { cursor: pointer; float: left; padding: 10px }
.stepy-header li.stepy-error { background: url('../demo/img/error.png') no-repeat right top }
.stepy-header li div { color: #CCC; font: bold 2.8em verdana; text-shadow: 1px 1px #F8F8F8 }
.stepy-header li.stepy-active div { color: #369; cursor: auto }
.stepy-header li span { color: #CCC; font: 1.4em verdana }
.stepy-header li.stepy-active span { color: #BBB }

.stepy-step { border: 1px solid #BBB; clear: left; padding: 15px 20px; width: 85%; -khtml-border-radius: 3px; -moz-border-radius: 3px; -opera-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.stepy-step legend { color: #4080BF; font: bold 1.8em arial; letter-spacing: .7px; padding: 0 2px 3px }
.stepy-step label { color: #222; display: block; font: bold 1.5em arial; letter-spacing: .7px; margin: 10px 0 3px 1px }

.stepy-step input,
.stepy-step textarea,
.stepy-step select { border: 1px solid #999; border-radius: 5px; color: #333; font-size: 1.4em; height: 27px; margin-bottom: 12px; padding: 3px; width: 90% }

.stepy-step select { height: 34px; padding-top: 5px }

.stepy-step textarea { height: 100px }

.stepy-navigator { height: 33px; margin-top: 20px }
.button-back { float: left }

.button-next,
.stepy-navigator input[type="submit"] { float: right }

.button-back,
.button-next,
.stepy-navigator input[type="submit"] { border: 1px solid #CCC; color: #7F0055; cursor: pointer; font: 1.2em verdana; padding: 7px 15px 8px; text-decoration: none; -khtml-border-radius: 3px; -moz-border-radius: 3px; -opera-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }

.stepy-navigator input[type="submit"] { background-color: transparent; border-color: #CCC; margin-bottom: 0; padding: 7px 15px 24px; width: 90px }

.button-back:hover,
.button-next:hover,
.stepy-navigator input[type="submit"]:hover { border-color: #BBB; color: #B07 }
