<nav id="setupNavigation">
    <ul class="pager">
        <li class="next">
            <a id="forwardNavButton"
               class="setupNavButton"
               v-on:click="navigateForward"
            >
                <div class="forwardNavLabel"
                     v-show="isDisk">
                        <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span> {{ forwardNavLabel }}
                </div>
                <div class="forwardNavLabel" v-show="isRight"> {{ forwardNavLabel }} <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span> </div>
            </a>
        </li>
        <li class="previous">
            <a
                    id="backNavButton"
                    class="setupNavButton"
                    v-on:click="navigateBack"
            >
                <div class="backNavLabel" v-if="isLeft"><span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span> {{ backNavLabel }}</div>
                <div class="backNavLabel" v-else>{{ backNavLabel }}</div>
            </a>
        </li>
    </ul>
</nav>
