@extends('help.help_base')

@section('sideNav')
    <li class="" xmlns="http://www.w3.org/1999/html">
        <ul class="nav nav-stacked">
            <li class="">
                <a href="#setup">Setup</a>
                <ul class="nav nav-stacked">
                    <li class="">
                        <a href="#faq">FAQ</a>
                        <ul class="nav">
                            <li>Faq link</li>
                            {{--FAQ links --}}
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
@endsection

@section('mainText')



@endsection