<!--<script id="slider-template" type="x-template">-->
<div class="sliderArea">
    <div class="gradeLabelArea">
        <div class="gradeLabelArea left">
            <input type="text" name="{{gradeName}}_minScore" v-model="minScore"
                   placeholder="Min"/>
        </div>

        <div class="gradeLabelArea center">{{ gradeLabel }}</div>
        <div class="gradeLabelArea right">
            <input type="text" class="gradeLabelArea right" name="{{gradeName}}_maxScore" v-model="maxScore"
                   placeholder="Max"/>
        </div>
        <!--<div class="gradeLabelArea right sliderRemove">-->
            <!--<button v-on="click:remove(this)">X</button>-->
        <!--</div>-->
    </div>
    <div class="sliderHolder">
        <div class="slider" id="{{ sliderId }}" data-slider-min="0" data-slider-max="100" data-slider-step="1"
             data-slider-value="0"
             data-slider-orientation="horizontal"
             data-slider-selection="after"
             data-slider-tooltip="show">
        </div>
    </div>

</div>
<!--</script>-->