
.navbar
  font-family: 'Open Sans', sans-serif
  font-weight: 300


.sectionHeading
  font-family: 'Roboto', sans-serif
  font-style: italic
  font-weight: 500


.body-text
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  font-size: 14px

//font-family: 'Lato', sans-serif
//font-size: 14px


//.body-text-link
//
///*font-family: 'Oswald', sans-serif;*/
///*font-family: 'Lalezar', cursive;*/
///*font-family: 'Francois One', sans-serif;*/
///*font-family: 'Patua One', cursive;*/
///*font-family: 'Cinzel', serif;*/
///*font-family: 'Lobster', cursive;*/
///*font-family: 'Dancing Script', cursive;*/
//
///*font-family: 'Lato', sans-serif;*/
///*font-family: 'Cabin Condensed', sans-serif;*/
///*font-family: 'Cinzel', serif;*/

