.graph-paper-background-small {
  font-size: 93.8%;
  background-color: #f1f2f3;
  background-image: linear-gradient(0deg, transparent 0.05em, rgba(0, 0, 0, 0.05) 0.05em, rgba(0, 0, 0, 0.05) 0.125em, transparent 0.125em), inear-gradient(rgba(0, 0, 0, 0.05) 0.0625em, transparent 0.0625em);
  background-size: .75em .75em;
  background-position: 0 -0.5em;
}

.graph-paper-background-big {
  background-color: #fff;
  background-image: linear-gradient(rgba(25, 70, 91, 0.5) 1px, transparent 1px), linear-gradient(#19465b 1px, transparent 1px), linear-gradient(90deg, rgba(25, 70, 91, 0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(25, 70, 91, 0.7) 1px, transparent 1px), linear-gradient(transparent 3px, #fff 3px, #fff 58px, transparent 58px), linear-gradient(90deg, rgba(25, 70, 91, 0.7) 3px, transparent 3px, transparent 58px, rgba(25, 70, 91, 0.7) 58px);
  background-size: 15px 15px, 60px 60px, 15px 15px, 60px 60px, 60px 60px, 60px 60px;
}

.border-image-made {
  border-style: solid;
  border-width: 30px 750px 27px 21px;
  -o-border-image: url(http://www.csszengarden.com/191/cover.png) 30 750 27 21 repeat;
  border-image: url(http://www.csszengarden.com/191/cover.png) 30 750 27 21 repeat;
}

.border-image-long {
  border-style: solid;
  border-width: 0px 15px 15px;
  -o-border-image: url("http://localhost:8000/images/styling/border-long.png") 0 21 stretch;
  border-image: url("http://localhost:8000/images/styling/border-long.png") 0 21 fill stretch;
}

.border-image-side {
  border-style: solid;
  border-width: 0px 15px 15px;
  -o-border-image: url("http://localhost:8000/images/styling/border-long.png") 0 21 stretch;
  border-image: url("http://localhost:8000/images/styling/border-long.png") 0 21 fill stretch;
}

.border-image-bottom {
  border-style: solid;
  border-width: 0px 15px 15px;
  -o-border-image: url("http://localhost:8000/images/styling/border-horiz-sm.png") 21 0 fill repeat;
  border-image: url("http://localhost:8000/images/styling/border-horiz-sm.png") 21 0 fill repeat;
}

.border-image-lft {
  border-style: solid;
  border-width: 0px 15px 15px;
  -o-border-image: url("http://localhost:8000/images/styling/border-tiled.png") 21 repeat;
  border-image: url("http://localhost:8000/images/styling/border-tiled.png") 21 repeat;
}

.collapse-enter-active, .collapse-leave-active {
  transition: all .35s ease;
  overflow: hidden;
  max-height: 100vh;
}

.collapse-enter, .collapse-leave-to {
  max-height: 0;
}

.custom-file-control {
  overflow: hidden;
}

.custom-file-control {
  overflow: hidden;
}

.custom-file-control.dragging {
  overflow: hidden;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.custom-file-control::after {
  content: attr(data-selected);
}

.custom-file-control::before {
  content: attr(data-choose);
}

.custom-file .drop-here {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  z-index: 99999;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.custom-file .drop-here::before {
  color: #fff;
  content: attr(data-drop);
}

.hidden {
  opacity: 0 !important;
}

.modal {
  display: block;
}

.progress-bar {
  transition: all .5s;
}

table thead > tr > td.sorting, table thead > tr > td.sorting_asc, table thead > tr > td.sorting_desc, table thead > tr > th.sorting, table thead > tr > th.sorting_asc, table thead > tr > th.sorting_desc {
  padding-right: 30px;
}

table thead > tr > td:active, table thead > tr > th:active {
  outline: 0;
}

table thead .sorting, table thead .sorting_asc, table thead .sorting_asc_disabled, table thead .sorting_desc, table thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table thead .sorting:after, table thead .sorting:before, table thead .sorting_asc:after, table thead .sorting_asc:before, table thead .sorting_asc_disabled:after, table thead .sorting_asc_disabled:before, table thead .sorting_desc:after, table thead .sorting_desc:before, table thead .sorting_desc_disabled:after, table thead .sorting_desc_disabled:before {
  position: absolute;
  bottom: .9em;
  display: block;
  opacity: .3;
}

table thead .sorting:before, table thead .sorting_asc:before, table thead .sorting_asc_disabled:before, table thead .sorting_desc:before, table thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\2191";
}

table thead .sorting:after, table thead .sorting_asc:after, table thead .sorting_asc_disabled:after, table thead .sorting_desc:after, table thead .sorting_desc_disabled:after {
  right: .5em;
  content: "\2193";
}

table thead .sorting_asc:before, table thead .sorting_desc:after {
  opacity: 1;
}

table thead .sorting_asc_disabled:before, table thead .sorting_desc_disabled:after {
  opacity: 0;
}

.tooltip {
  display: block !important;
  transition: all .3s;
}

/*# sourceMappingURL=new-setup-package.css.map */
