//// Central definition of variables
//// for new grading page


/*Custom font imports
   Font override variables are defined in this file, so it
   needs to be loaded before bootswatch or anything else brings in bootstrap
   */
@import '../common/remote_font_includes';

//Old bootstrap stuff needed for slider (see also GOM-385)
@import 'grade-package-required-until-gom-372-is-fixed';

/*Super common styling for every page*/
@import '../common/universal-styles';

// Import custom variables
@import "custom-bulma";

//likely redundant...

// Palette color codes */
// Palette URL: http://paletton.com/#uid=13s0u0k++lrZG-4+WqV+ZfV+U90 */
// As hex codes */
$color-primary-0: #00496C;	// Main Primary color */
$color-primary-1: #0075AD;
$color-primary-2: #005B88;
$color-primary-3: #003650;
$color-primary-4: #001F2D;





