//Styles for exam_controls.blade

@import components/examButtons

#examControlsPage
  a
    cursor: pointer

  .table th
    border: none

  .panel
    border: none

  .examDetailsCell
    vertical-align: middle
    width: 10%

  .examNameCell
    vertical-align: middle
    min-width: 200px