//Styles for exam_analytics.blade

a {
  cursor: pointer;
}

.chart {
  max-width: 700px;
  max-height: 500px;
}

.chartDiv{
  margin-bottom: 2em;
  //padding-bottom: 40px;
}

.elementChartWrapperDiv{
  outline-style: solid;
  outline-color: black;
  //width: 45%;
  //height: 50%;
  margin-bottom: 1em;
  //margin-right: 1em;
}

//.elementBoxWrapperDiv{
//  //height:
//}

p .chartClose{
  padding-right: 2em;
  padding-top: 1em;
}

.elementBoxplotButton{
  margin-left: 1em;
}

.bootbox-body{
  p{
    text-align: justify;
  }
}