<div class="card-list card-list-component">
<!--<draggable v-model='items'>-->

        <ul id='card-list' class="list-group">
            <li
                    class="item-cards list-group-item handle"
                    v-for="(index, item) in items"
            >
                <item-card :index="item.index" :id="item.id"></item-card>
            </li>
        </ul>
    <!--</div>-->

    <div class="row">
        <div class="col-lg-12 ">
            <div class="text-right">
                <item-add-button></item-add-button>
            </div>
        </div>
    </div>
<!--</draggable>-->
</div>