<div id="app">
    <div id="examEditor">

        <!--<div class="row">-->
        <!--<div class="col-lg-8">-->
        <exam-name></exam-name>
        <!--</div>-->
        <!--</div>-->


        <div id="examEditorBody"
             class="row">

            <div id="itemCol"
                 class="col-lg-9 well well-lg">
                <h1>jay</h1>
                <div class="row">
                    <div class="col-lg-1">
                        <item-nav nav-type="back"></item-nav>
                    </div>
                    <div class="col-lg-10"></div>
                    <div class="col-lg-1">
                        <item-nav nav-type="forward"></item-nav>
                    </div>
                </div>

                <div class="itemRow row">
                    <div class="col-lg-12">
                    <item-name></item-name>
                    </div>
                </div>

                <!-- Used by 'edit_exam' and 'create_exam' to display the fields for exam name, term, year -->
                <div class="itemRow row">
                    <div class="col-lg-12">
                        <item-add-button></item-add-button>
                    </div>
                </div>

            </div>

            <div id="infoCol"
                 class="col-lg-3">

                <div class="row">
                    <div class="col-lg-12">
                        <props-dashboard></props-dashboard>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <tools-dashboard></tools-dashboard>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>