<!--This represents a question or an element-->
<div id="item-card-{{index}}"
     class="item-card-component"
     v-bind:class="offsetClass"
>
    <div class="row">
        <item-name
                :index="index"
                :id="id"
        ></item-name>

    </div>
    <div class="row">
        <div class="clearfix"></div>

        <div class="col-lg-12">
            <!--<div class="col-lg-10">-->
            <div class="clearfix"></div>
            <slot name="head">

                <item-settings
                        :index="index"
                        :id="id"
                >
                    <!--is="currentView"-->
                    <div slot="controlsArea">
                        <div class="row">
                            <div class="col-md-1">
                                <depth-control
                                        type="demote"
                                        :index="index"
                                        :id="id"
                                ></depth-control>
                            </div>

                            <div class="col-md-10"></div>

                            <div class="col-md-1">
                                <depth-control
                                        type="promote"
                                        :index="index"
                                        :id="id"
                                ></depth-control>
                            </div>

                        </div>
                    </div>
                </item-settings>
            </slot>

            <div class="clearfix"></div>

        </div>

        <!--<div class="col-lg-1 vertical-align">-->
        <!--<depth-control type="promote" :index="index"></depth-control>-->
        <!--</div>-->
    </div>

    <div class="row">
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-12">
            <delete-item-button
                    :index="index"
                    :id="id"
            ></delete-item-button>
        </div>
        <!--<div class="col-lg-1"></div>-->
    </div>
</div>

