<!-- Template used by 'edit_element' to hold the fields and buttons for an individual element.  -->
<div class="item-settings-comment-setup-component">
    <div class="row">
        <div class="col-md-12 ">

            <h5>Set up your comments for this item</h5>
            <!-- element description (the "stock comment") -->
            <div class="form-group">
                        <textarea
                                class="form-control"
                                rows="3"
                                placeholder="{{ placeholders.elementText }}"
                                v-model="commentText"></textarea>
            </div>

            <div class="form-group">
                <div class="btn-group-justified"
                     role="group"
                     aria-label="valence buttons">

                        <valence-button
                                v-for="v in valences"
                                :valence="v"></valence-button>

                </div>
            </div>

        </div>

    </div>
</div>
