<div class="well well-sm"
     v-show="hidden">

    <slot name="settingsBody">
x
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs"
                role="tablist">
                <li role="presentation"
                    v-for="tab in tabs">
                    <a v-bind:href="'#' + tab + index"
                       v-bind:aria-controls="tab + index"
                       role="tab"
                       data-toggle="tab"
                    >
                        <span class="tabTitle">
                            {{ tab }}
                        </span>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel"
                     class="tab-pane active"
                     v-bind:id="'details' + index"
                >
                    <item-settings-detail :index="index"></item-settings-detail>
                </div>

                <div role="tabpanel"
                     class="tab-pane  "
                     v-bind:id="'comments' + index"
                >
                    <item-settings-comment-setup :index="index"></item-settings-comment-setup>
                </div>

                <div role="tabpanel"
                     class="tab-pane "
                     v-bind:id="'stats' + index"
                >
                    <p>Stats here</p>
                </div>

                <div role="tabpanel"
                     class="tab-pane "
                     v-bind:id="'history' + index"
                >
                    <p>Which exams clones of this item have been used on</p>
                </div>

                <div role="tabpanel"
                     class="tab-pane fade"
                     v-bind:id="'notes' + index"
                >
                    <p>Notes to self about item</p>
                </div>

            </div>

        </div>

    </slot>

    <slot name="controlsArea"></slot>
</div>
