<div class="well" v-show="hidden">

    <slot name="settingsBody">

        <div>
            <!-- Used by "edit_question" to hold fields and buttons for an individual question -->

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"
                    class=""
                    v-for="tab in tabs">
                    <a href="#{{tab}}{{index}}"
                       aria-controls="{{tab}}{{index}}"
                       role="tab"
                       data-toggle="tab">{{ tab | capitalize }}</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel"
                     class="tab-pane active "
                     id="details{{index}}"
                >
                    <item-settings-detail :item="item"></item-settings-detail>
                </div>

                <div role="tabpanel"
                     class="tab-pane  "
                     id="comments{{index}}"
                >
                    <item-settings-comment-setup :item="item"></item-settings-comment-setup>
                </div>

                <div role="tabpanel"
                     class="tab-pane "
                     id="stats{{index}}"
                >
                    <p>Stats here</p>
                </div>

                <div role="tabpanel"
                     class="tab-pane "
                     id="history{{index}}"
                >
                    <p>Which exams clones of this item have been used on</p>
                </div>

                <div role="tabpanel"
                     class="tab-pane fade"
                     id="notes{{index}}"
                >
                    <p>Notes to self about item</p>
                </div>

            </div>

        </div>

    </slot>
    <!--<item-settings-element item="item"></item-settings-element>-->
    <!--<item-settings-question :item="item"></item-settings-question>-->

    <!--<button class="btn btn-primary" v-on:click="hide">Close</button>-->
</div>
