
        <tr id="studentListItem{{ studentIndex }}"
            class="studentListItem unalteredStudentRow"
            data-index="{{ studentIndex }}"
            data-fName="{{ firstName }}"
            data-lName="{{ lastName }}"
            data-sid="{{ studentId }}"
            data-student-identifier="{{ studentIdentifier }}">
            <td class="col-xs-6"
                id="studentName{{ studentIndex }}">{{ studentName }}</td>
            <td class="col-xs-4"
                id="studentIdentifier{{ studentIndex }}">{{ studentIdentifierDisplay }}</td>
            <td class="col-xs-2"
                id="examGrade{{ studentIndex }}">{{ examGrade }}</td>
        </tr>
