//@import "../../../../../node_modules/typeahead/style.css"

.activeStudentInput
  font-size: 1.25em

  .typeahead
    border: 0px

  #activeStudentNameArea
    padding-right: 0px

  #nameVisibilityControl
    cursor:pointer

  #activeStudentName
    width: 200px
    padding-right: 0px
    margin-right: 0px

  #activeStudentIdentifierArea
    padding-right: 0px

    #activeStudentIdentifier
      width: 100px
