//@import "../../../../../node_modules/typeahead/style.css"

.activeStudentInput
  font-size: 1.25em

  .typeahead
    border: 0px

  #activeStudentNameArea
    padding-right: 0px

    #activeStudentName
      width: 230px
      padding-right: 0px
      margin-right: 0px
      border: none

    #nameVisibilityControl
      cursor: pointer


  #activeStudentIdentifierArea
    padding-right: 0px

    #activeStudentIdentifier
      width: 100px
      border: none
